smart-traffic/node_modules
# input
backend/Fully-Automated-red-light-Violation-Detection-master
# backend/processed_videos
total.zip
Final Hackathon.zip
backend/__pycache__
backend/smarttrafficroadsafety-8bdb2-firebase-adminsdk-fbsvc-6c9bdfc767.json
smart-traffic/.env
smart-traffic/.firebaserc
smart-traffic/firebase.json
smart-traffic/build/